@import './variables.scss';

a {
  text-decoration: none;
  color: #000000;
}

.icon {
  width: 1.5em;
  height: 1.5em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}

#app{
  background-color: #fff;
}