@font-face {
  font-family: "iconfont"; /* Project id 3798072 */
  src: url('iconfont.woff2?t=1677995464582') format('woff2'),
       url('iconfont.woff?t=1677995464582') format('woff'),
       url('iconfont.ttf?t=1677995464582') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-fasong:before {
  content: "\e6bd";
}

.icon-web:before {
  content: "\eb8e";
}

.icon-bilibili-fill:before {
  content: "\e66b";
}

.icon-douyin:before {
  content: "\e8db";
}

.icon-xianshimima:before {
  content: "\e653";
}

.icon-yincangmima:before {
  content: "\e654";
}

.icon-shuaxin:before {
  content: "\e604";
}

.icon-yahoo-fill:before {
  content: "\eabe";
}

.icon-baidu_logo_icon:before {
  content: "\e601";
}

.icon-bing_logo_icon:before {
  content: "\e602";
}

.icon-google_icon:before {
  content: "\e603";
}

.icon-sougoushuru:before {
  content: "\faef";
}

.icon-wangzhanshezhi:before {
  content: "\e600";
}

.icon-jiantou-you:before {
  content: "\e612";
}

.icon-androidgengduo:before {
  content: "\e78d";
}

.icon-csdn:before {
  content: "\e60a";
}

.icon-bokeyuan:before {
  content: "\e623";
}

.icon-github-fill:before {
  content: "\e885";
}

.icon-wangzhan:before {
  content: "\e622";
}

.icon-gongzhonghao:before {
  content: "\e615";
}

.icon-weixin:before {
  content: "\e630";
}

.icon-wuxian:before {
  content: "\e651";
}

.icon-24gf-portraitMaleInfo2:before {
  content: "\eb29";
}

.icon-_qianduankaifa:before {
  content: "\e606";
}

.icon-zhifubao:before {
  content: "\e68a";
}

.icon-baidu:before {
  content: "\e8cb";
}

.icon-google:before {
  content: "\eaa8";
}

.icon-weiruan1:before {
  content: "\e611";
}

.icon-sousuo:before {
  content: "\100c6";
}

